<app-nav-bar></app-nav-bar>
<div class="mycuenta">
    <h1 class="tiltemycuenta">Mi Cuenta</h1>
    <mat-divider class="matDividerMicuenta"></mat-divider>
</div>
<div class="contenedor">

    <div class="left-content">
        <div class="config-profile">
            <a (click)="showCompras()">Solicitados</a>
            <a (click)="showMisServicios()">Mis Servicios</a>
            <a (click)="showPrincipal()">Configuración</a>
        </div>
    </div>

    <div class="right-profile" *ngIf="showPrinci">
        <div class="divImgProfile">
            <div class="imgProfile">
                <img src="{{imgProfile}}" alt="" class="imgMyProfile">
            </div>
            <p class="text-nameS">{{dataProfile.NameUser}} {{dataProfile.LastNameUser}}</p>
        </div>
        <div class="prof">
            <button (click)="showProfile()" class="profile-button">
                <div class="icon-profile">
                    <span class="material-symbols-outlined" id="xd">account_circle</span>
                </div>
                <div class="info-profile">
                    <h2>Mis datos</h2>
                </div>
            </button>
            <mat-divider></mat-divider>
        </div>


        <div class="prof">
            <button (click)="showSecurity()" class="profile-button">
                <div class="icon-profile">
                    <span class="material-symbols-outlined">security</span>
                </div>
                <div class="info-profile">
                    <h2>Seguridad</h2>
                </div>
            </button>
            <mat-divider></mat-divider>
        </div>

        <div class="prof">
            <button class="profile-button">
                <div class="icon-profile">
                    <span class="material-symbols-outlined">mark_as_unread</span>
                </div>
                <div class="info-profile">
                    <h2>Comunicación</h2>
                </div>
            </button>
            <mat-divider></mat-divider>
        </div>

        <div class="prof">
            <button class="profile-button">
                <div class="icon-profile">
                    <span class="material-symbols-outlined">loyalty</span>
                </div>
                <div class="info-profile">
                    <h2>Suscripciones</h2>
                </div>
            </button>
        </div>

    </div>


    <div class="conteProfile " *ngIf="showProfi">
        <div class="imgPortada">
            <img src="./assets/portada.png" alt="" class="imgMyPortada">
        </div>
        <div class="divImgMyProfile">
            <img src="{{imgProfile}}" alt="" class="imgMyProfile2">
        </div>

        <h1 class="titleh1">Perfil</h1>
        <p class="ptitle">Actualiza tu foto y tus datos personales.</p>
        <!--  -->
        <div class="conteCompras" *ngIf="showComp">
            <h1 class="h1-cv">Los servicios que Solicitados</h1>
            <div class="TablaxD">
                <table mat-table mat-table [dataSource]="dataSource" class="" matSort>

                    <!-- Name Column -->
                    <ng-container matColumnDef="Nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre del Servicio </th>
                        <td mat-cell *matCellDef="let element"> {{element.nameService}} </td>
                      </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Estado </th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Eliminar" >
                        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                        <td mat-cell *matCellDef="let element">
                            <button class="btn btn-danger" (click)="eliminarInscripcion(element.serviceIdService ,element.userIdUser)">
eliminar
                                <i class="fa-solid fa-trash" style="color: #ffff;"></i> 
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSize]="4" showFirstLastButtons aria-label="Select page of periodic elements">
                </mat-paginator>

            </div>
        </div>

        <div class="conteVentas " *ngIf="showMisServis">
            <h1 class="h1-cv">Tus Servicios</h1>
            <button class="buttonAddService" routerLink="/addService" >Añadir + </button>

            <div class="TablaxD">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="img">
                      <th mat-header-cell *matHeaderCellDef>  </th>
                      <td mat-cell *matCellDef="let element">  <img
                        src="{{ obtenerURLImagen(element.pathPhotos) }}"
                        alt="Imagen del botón"
                        class="imgService"
                      /> </td>
                    </ng-container>
                    <ng-container matColumnDef="Nombre">
                      <th mat-header-cell *matHeaderCellDef> Nombre del Servicio </th>
                      <td mat-cell *matCellDef="let element"> {{element.nameService}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="Categoria">
                      <th mat-header-cell *matHeaderCellDef> Categoria </th>
                      <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="Contratado">
                      <th mat-header-cell *matHeaderCellDef> Contratado </th>
                      <td mat-cell *matCellDef="let element"> proximamente </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="Calificaciones">
                      <th mat-header-cell *matHeaderCellDef> Calificaciones </th>
                      <td mat-cell *matCellDef="let element"> proximamente </td>
                    </ng-container>
                    <ng-container matColumnDef="Precio">
                      <th mat-header-cell *matHeaderCellDef> Precio Inicial </th>
                      <td mat-cell *matCellDef="let element"> {{element.initialPrice}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Eliminar" >
                        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                        <td mat-cell *matCellDef="let element">
                            <button class="btn btn-danger" (click)="eliminarService(element.idService)">
eliminar
                                <i class="fa-solid fa-trash" style="color: #ffff;" ></i> 
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <mat-paginator [pageSize]="10" showFirstLastButtons aria-label="Select page of periodic elements">
                  </mat-paginator>
            </div>

        </div>
        <div class="edit-data" *ngIf="showeditProfi">
            <button class="buttonEditar" (click)="editData=true" *ngIf="!editData">
                <span class="material-symbols-outlined" style="font-size: 20px; margin:auto 5px auto 5px;">
                    edit
                </span>editar</button>
            <div class="divButtonscansave" *ngIf="editData">
                <button class="buttonCancel" (click)="editData=false">cancelar</button>
                <button class="buttonSave" (click)="editarDataSave()">guardar</button>
            </div>

            <div class="editdata1">
                <h3 class="textditata">Nombre de Usuario</h3>
                <input type="text" class="input-editdatadaRout" disabled style="text-align: right;"
                    placeholder="AccesAbility.com/" [(ngModel)]="xd" name="xd">
                <input type="text" [disabled]="!editData" class="input-editdata" placeholder="{{dataProfile.NameUser}}"
                    [(ngModel)]="updateModel.NameUser" name="newNameUser">
            </div>
            <mat-divider class="matdividerProfile"></mat-divider>
            <div class="editdata1">
                <h3 class="textditata">Tu Foto</h3>
                <div class="myPhotoedit">
                    <img src="{{imgProfile}}" alt="" class="imgMyProfile">
                </div>
                <input type="file" id="f1" multiple="false"  (change)="imgProfileSelect($event)" *ngIf="editData" accept="image/*" class="inputImg">

            </div>
            <mat-divider class="matdividerProfile"></mat-divider>
            <div class="editdata1">
                <h3 class="textditata">Email</h3>
                <input type="text" [disabled]="!editData" class="input-editdataemail" [(ngModel)]="updateModel.Email"
                    placeholder="{{dataProfile.Email}}" name="newEmailUser">
                <i class=" fa-lg fa-solid fa-envelope" id="iconEmail"></i>
            </div>
            <mat-divider class="matdividerProfile"></mat-divider>
            <div class="editdata1">
                <h3 class="textditata">Teléfono</h3>
                <input type="text" class="input-editdataphone1" disabled placeholder="+57">
                <input type="text" class="input-editdataphone" [disabled]="!editData" [(ngModel)]="updateModel.Telephone"
                    placeholder="{{dataProfile.Telephone}}" name="newTehephoneUser">
            </div>
            <mat-divider class="matdividerProfile"></mat-divider>
            <div class="editdataSelect">
                <h3 class="textditata">Departamento</h3>
                <div class="select">
                    <select class="selectAddress" name="ciudad" id="" [disabled]="!editData">
                        <option value="">Comooo</option>
                    </select>
                </div>
            </div>
            <div class="editdataSelect">
                <h3 class="textditata">Ciudad</h3>
                <div class="select">
                    <select class="selectAddress" name="ciudad" id="" [disabled]="!editData"
                        [(ngModel)]="dataProfile.Address"></select>
                </div>
            </div>
            <div class="editdata1">
                <h3 class="textditata">Barrio</h3>
                <input type="text" class="input-editdataemail" [disabled]="!editData">
            </div>
            <div class="editdata2">
                <h3 class="textditata">Dirección</h3>
                <input style="margin-left: 10%;" type="text" class="input-editdataAddres" [disabled]="!editData">
                <input type="text" class="input-editdataAddres" [disabled]="!editData">
                <h3 style="display: flex; font-size: large;">#</h3>
                <input type="text" class="input-editdataAddres" [disabled]="!editData">
                <h3 style="font-size: large;">-</h3>
                <input type="text" class="input-editdataAddres" [disabled]="!editData">
            </div>
            <div class="editdata1">
                <h3 class="textditata">Codigo Postal</h3>
                <input type="text" class="input-editdataemail" [disabled]="!editData">
            </div>
            <mat-divider class="matdividerProfile" style="margin-bottom: 40px;"></mat-divider>

        </div>
    </div>
    <div class="conteSecurity" *ngIf="showSecu">
        <div class="divImgMyProfileSecurity">
            <img src="{{imgProfile}}" alt="" class="imgMyProfile2">
            <div style="margin-left: 30px;">
                <h1 class="titleSecurity">Seguridad</h1>
                <h3 class="subtitleSecurity">Gestiona tu seguridad</h3>
            </div>
        </div>
        <div class="edit-data" *ngIf="showEditSecu">
            <h3 class="h3security">Cambio de contraseña</h3>
            <div class="editdata1">
                <h3 class="textditata">Contraseña Actual</h3>
                <input type="password" class="input-editdataemail">
            </div>
            <mat-divider class="matdividerProfile"></mat-divider>
            <div class="editdata1">
                <h3 class="textditata">Nueva Contraseña</h3>
                <input type="password" class="input-editdataemail">
            </div>
            <mat-divider class="matdividerProfile"></mat-divider>
            <div class="editdata1">
                <h3 class="textditata">Repetir</h3>
                <input type="password" class="input-editdataemail">
            </div>
            <mat-divider class="matdividerProfile"></mat-divider>
            <div class="prof">
                <button class="profile-button">
                    <div class="icon-profile">
                        <span class="material-symbols-outlined">
                            computer
                        </span>
                    </div>
                    <div class="info-profile">
                        <h2>Desktops</h2>
                    </div>
                </button>
                <mat-divider></mat-divider>
            </div>
            <div class="prof">
                <button class="profile-button">
                    <div class="icon-profile">
                        <span class="material-symbols-outlined">
                            smartphone
                        </span>
                    </div>
                    <div class="info-profile">
                        <h2>Moviles</h2>
                    </div>
                </button>
                <mat-divider></mat-divider>
            </div>


        </div>

    </div>