<app-nav-bar></app-nav-bar>

<div class="conteaddService">
  <h1 class="titleAdd">Añadir Servicio</h1>
  <p class="subtittle">Agrega el servicio que vas a prestar.</p>
  <div class="divButtonscansave">
    <button class="buttonCancel" routerLink="/profile">cancelar</button>
    <button class="buttonSave" (click)="addServicio()">guardar</button>
  </div>

  <!-- aqui va el formulario para crear un servicio -->
  <div class="divFormuService">
    <div class="formleft">
      <h3 class="textditata">Nombre del Servicio</h3>
      <input
        type="text"
        class="input-editdataName"
        [(ngModel)]="nameService"
        placeholder="Nombre del servicio"
        name="nameService"
      />
      <mat-divider class="matdivider"></mat-divider>
      <h3 class="textditata">Categoria</h3>
      <div class="editdataSelect">
        <div class="select">
          <select
            class="selectAddress"
            [(ngModel)]="categoria"
            name="categoria"
            id=""
          >
            <option value="Transporte y movilidad">
              Transporte y movilidad
            </option>
            <option value="Traducción e interpretación">
              Traducción e interpretación
            </option>
            <option value="Asesoramiento y acompañamiento">
              Asesoramiento y acompañamiento
            </option>
            <option value="Diseño de interiores y arquitectura accesible">
              Diseño de interiores y arquitectura accesible
            </option>
            <option value="Asistencia y cuidado personal">
              Asistencia y cuidado personal
            </option>
            <option value="Tecnología y dispositivos de apoyo">
              Tecnología y dispositivos de apoyo
            </option>
            <option value="Formación y capacitación">
              Formación y capacitación
            </option>
            <option value="Accesibilidad digital">Accesibilidad digital</option>
            <option value="Turismo y ocio accesibles">
              Turismo y ocio accesibles
            </option>
          </select>
        </div>
      </div>
      <mat-divider class="matdivider"></mat-divider>
      <h3 class="textditata">Departamento</h3>
      <div class="editdataSelect">
        <div class="select">
          <select
            class="select Depa"
            (click)="loadCities()"
            id="selectDepa"
            name="department"
            [(ngModel)]="department"
          >
            <option value="" selected disabled>Departamento</option>
            <option
              [value]="department.codigodepartamento"
              *ngFor="let department of departments"
            >
              {{ department.nombredepartamento }}
            </option>
          </select>
         
        </div>
      </div>
      <h3 class="textditata">Ciudad</h3>
      <div class="editdataSelect">
        <div class="select">
            <select class="selectx Muni" name="city" [(ngModel)]="city">
                <option [value]="city.idmunicipios" *ngFor="let city of cities">
                  {{ city.nombremunicipio }}
                </option>
              </select>
        </div>
      </div>
      <h3 class="textditata">Vista Previa (descripcion corta)</h3>
      <textarea
        class="textpreview"
        [(ngModel)]="preview"
        name="preview"
      ></textarea>
      <h3 class="textditata">Descripción Detallada</h3>
      <mat-divider class="matdivider"></mat-divider>
      <textarea [(ngModel)]="description" name="description"></textarea>
    </div>

    <div class="formright">
      <h3 class="textditata">Imagenes del servicio</h3>
      <div>
        <input
          type="file"
          class="inputImg"
          multiple
          (change)="cargarImagen($event)"
        />
        <div class="carrusel">
          <div class="imagen" *ngFor="let imagen of imagenes">
            <img [src]="imagen" alt="Imagen cargada" width="150" height="150" />
          </div>
        </div>
      </div>
      <h3 class="textditata">Disponibilidad</h3>
      <div class="editdataSelect">
        <div class="select">
          <select class="selectAddress" [(ngModel)]="dispo" name="dispo" id="">
            <option value="Medio Tiempo">Medio Tiempo</option>
            <option value="Medio Tiempo">Tiempo Compelto</option>
          </select>
        </div>
      </div>

      <h3 class="textditata">Fechas Disponibles</h3>
      <input
        type="date"
        [(ngModel)]="datesDispo"
        name="datesDispo"
        id="fecha"
      />
      <h3 class="textditata">Valor Inicial</h3>
      <input
        type="number"
        class="input-editdataName"
        [(ngModel)]="initialPrice"
        name="initialPrice"
        placeholder="Precio Inicial"
      />
    </div>
  </div>
</div>
