<app-nav-bar></app-nav-bar>
<div class="container-viewService">
  <div class="conLeft columna">
    <div class="carouselImg columna">
      <div class="columnaLeft">
        <img
          *ngFor="let publi of imgaServices"
          src="{{ publi }}"
          alt="Imagen del botón"
          class="imgService"
          (click)="seleccionarImagen(publi)"
        />
      </div>
      <mat-divider [vertical]="true"></mat-divider>
    </div>
    <div class="imgGrande columnaRight">
      <img
        [src]="imagenSeleccionada"
        alt="Imagen del botón"
        class="imgServiceGrande"
      />
    </div>
  </div>
  <div class="conRight columna">
    <h1 class="ptittle">{{ datosService.nameService }}</h1>
    <div class="columna">
      <p class="pText">Disponiblidad</p>
      <p>{{ datosService.dispo }}</p>
      <p class="pPrice">{{ datosService.initialPrice }} COP/hora</p>
      <button class="buttonContratar" (click)="solicitar(datosService)">Contratar</button>

      <p class="pText">Contactos</p>
      <p class="pText"><i class="fa-regular fa-envelope"></i>correo : {{ datosContactService.email }}</p>
      <p class="pText"><i class="fa-brands fa-whatsapp"></i> : {{ datosContactService.telephone }}</p>
    </div>
    <div class="columna">
      <p class="pText">Descripción</p>
      <p>{{ datosService.preview }}</p>
      <p>{{ datosService.description }}</p>
    </div>
  </div>
</div>
