<div class="contnavBar">
  <div class="divLogo">
    <button class="logo">
      <img
        src="../../../assets/Logo.png"
        width="232"
        height="64"
        alt="Imagen del botón"
      />
    </button>
  </div>
  <div class="optionNav">
    <button class="buttonNav" routerLink="/home">Home</button>
    <button class="buttonNav" routerLink="/about">Acerca de Nosotros</button>
  </div>

  <div class="divIcons">
    <button class="buttonNav1">
      <span class="material-symbols-outlined iconNav">notifications</span>
    </button>
    <button class="buttonNav1"  routerLink="/profile">
      Perfil
      <span class="material-symbols-outlined iconNav">account_circle</span>
    </button>
    <button routerLink="/login" class="buttonNav1">
      <span class="material-symbols-outlined iconNav">logout</span>
    </button>
  </div>
</div>
