<app-nav-bar></app-nav-bar>
<div class="divFondo">
    <div class="imgfondoxd">
        <img src="../../../assets/about1.png" alt="" class="img1fondo" />
    </div>
  <div class="descri">
    <p class="ptittle">Somos AccessAbility</p>
    <p class="pdescrip">
      AccessAbility es una plataforma digital diseñada para mejorar la
      accesibilidad y la inclusión de las personas con discapacidad en
      diferentes entornos. Nuestro equipo está compuesto por profesionales
      apasionados y comprometidos con la creación de soluciones tecnológicas
      innovadoras que promuevan la igualdad de oportunidades y faciliten la
      participación activa de todas las personas en la sociedad. Creemos en la
      importancia de romper barreras arquitectónicas, tecnológicas y sociales
      para lograr un mundo más inclusivo. Nos inspira el deseo de marcar la
      diferencia y empoderar a las personas con discapacidad, brindándoles
      herramientas y recursos que les permitan superar obstáculos y disfrutar de
      una vida plena y autónoma.
    </p>
  </div>
</div>
<div class="conteDescript">
  <p class="ptittle" style="color: #fff;">¿Por qué elegirnos?</p>
  <div class="conteColums">
    <div class="columnleft">
      <p class="psubtittle">Experiencia y Expertise</p>
      <p class="textparra">
        Contamos con un equipo altamente calificado y con amplia experiencia en
        el desarrollo de soluciones tecnológicas accesibles. Combinamos nuestros
        conocimientos técnicos con una profunda comprensión de las necesidades y
        desafíos de las personas con discapacidad para crear productos que se
        adapten a sus requerimientos.
      </p>
      <p class="psubtittle">Colaboración y Participación Activa</p>
      <p class="textparra">
        Valoramos la colaboración y el trabajo en equipo. Trabajamos en estrecha
        colaboración con personas con discapacidad, organizaciones
        especializadas y expertos en accesibilidad para garantizar que nuestras
        soluciones aborden de manera efectiva las necesidades reales de los
        usuarios. Fomentamos la participación activa de nuestra comunidad en el
        proceso de desarrollo y mejora continua de nuestros productos.
      </p>
    </div>
    <div class="columnright">
      <p class="psubtittle">Enfoque en la Accesibilidad Universal</p>
      <p class="textparra">
        La accesibilidad es el núcleo de nuestra misión. Nos esforzamos por
        diseñar y desarrollar soluciones que sean accesibles para todas las
        personas, sin importar su tipo de discapacidad o nivel de habilidad.
        Nuestro enfoque se basa en los estándares internacionales de
        accesibilidad y buscamos superar las expectativas para ofrecer una
        experiencia inclusiva a nuestros usuarios.
      </p>
      <p class="psubtittle">Compromiso Social</p>
      <p class="textparra">
        Creemos en el poder de la tecnología para generar un impacto social
        positivo. Estamos comprometidos con la promoción de la igualdad de
        oportunidades y la inclusión, y trabajamos arduamente para crear
        conciencia y sensibilizar sobre las necesidades de las personas con
        discapacidad. Nuestro propósito va más allá de desarrollar productos,
        buscamos ser agentes de cambio en la sociedad.
      </p>
    </div>
  </div>
  <div class="imgfondo2xd">
      <img src="../../../assets/about2.png" alt="" class="img2fondo" />
  </div>
</div>
